body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.gameContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.topOverlay {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Merriweather", serif;
    font-size: 18px;
}

.bottomOverlay {
    bottom: 0;
    width: 40%; /* or 50%, depending on your preference */
    left: 50%;
    transform: translateX(-50%); /* Center the overlay horizontally */
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

.actionsContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%; /* Adjust padding as needed */
}

.movementActions {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 1fr for equal column sizes */
    grid-template-rows: repeat(3, auto); /* Define rows for better control */
    place-items: center; /* Center items in their grid cell */
}

.movementActions.directionButton {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.north{}
.south{}
.west{}
.east{}

.directionButton.north {
    grid-column: 2;
    grid-row: 1;
}

.directionButton.south {
    grid-column: 2;
    grid-row: 3;
}

.directionButton.west {
    grid-column: 1;
    grid-row: 2;
}

.directionButton.east {
    grid-column: 3;
    grid-row: 2;
}


.otherActions {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    align-items: start;
    /* Styling for non-movement actions */
}

.otherActions .button {
    width: 100%;
    height: 50px;
    /* Apply the 9-slice styling here if desired */
}
